.imgmodel{
    width:80%;
    margin: 0 auto;
}
#imgedward{
    width:100%;
}

#textspace{
    width: 80%;
    margin: 0 auto;
}
body{
    background-color: rgb(230, 230, 230);
    width: 100%;
}
